.container {
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  padding: 5%;
  background-color: #222222;
}

.rank {
  font-size: larger;
  text-align: left;
}

@media (width <= 700px) {
  .ranks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media (width > 700px) {
  .ranks-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.rank-title {
  text-align: left;
  color: grey;
}

.wins {
  font-weight: bold;
  color: #00bba3;
}

.losses {
  font-weight: bold;
  color: #e84057;
}

.tier-icon {
  margin-top: 10px;
  z-index: -30;
  box-sizing: border-box;
  width: 128px;
  height: 128px;
  object-fit: cover;
  clip-path: circle(25% at 50% 50%);
  transform: scale(250%);
}
