.container {
  text-align: center;
}

.rank {
  margin-bottom: 30px;
  font-size: larger;
  text-align: left;
}

.rank-container {
  margin-bottom: 20px;
}

.rank-title {
  text-align: left;
  color: grey;
}

.wins {
  font-weight: bold;
  color: #00bba3;
}

.losses {
  font-weight: bold;
  color: #e84057;
}

.tier-icon {
  margin-top: 10px;
  z-index: -30;
  box-sizing: border-box;
  width: 128px;
  height: 128px;
  object-fit: cover;
  clip-path: circle(25% at 50% 50%);
  transform: scale(250%);
}
